html {
    height: 100%;
}

body {
    background-image: url('../images/white-waves.png');
    height: 100%;
}

p {
    font-size: 20px;
}

#myName {
    font-size: 35px;
    background-color: #3b3b3b;
    color: #ffffff;
    margin-left: 14px;
}

#bio-img {
    float: left;
    width: 440px;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#myFooter {
    padding: 3rem 1.5rem 3rem;
}

#content {
    width: 960px;
}

#about {
    font-size: 30px;
    color: #3b3b3b;
    margin-bottom: 20px;
    border-bottom: 2px solid #dddddd;
}

#pageMain {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 45px;
}